@import '../../../styles.scss';

:host {
  .winners-list {
    text-align: left;
    font-weight: bold;
    list-style: none;
    padding: 0;
    max-height: 600px;
    overflow-y: auto;
    border-radius: 10px;

    li {
      padding: 10px 15px;
      display: flex;
      align-items: center;
      background: $background-lighter;

      &:nth-child(odd) {
        background: $background-darker;
      }

      i {
        font-size: 1.5em;
        margin: 0 10px;
      }
    }
  }
}
