/* You can add global styles to this file, and also import other style files */

$background: #c5e16f;
$background-darker: #92c46d;
$background-lighter: #fff;
$background-disable: #ababab;
$color-main: #1d344e;
$color-main-light: #357f7c;
$color-disable-main: #555;


html, body {
  margin: 0;
  padding: 0;
  background: $background;
  color: $color-main;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  color: $color-main-light;
}

button {
  background: $background-darker;
  padding: 10px;
  border: solid $color-main 2px;
  border-radius: 10px;
  color: $color-main;
  font-weight: 600;
  font-size: 0.9em;

  &:disabled {
    color: $color-disable-main;
    border: solid 2px $color-disable-main;
    background: $background-disable;
  }

  &:focus {
    outline: none;
  }

  &:hover:enabled {
    background: $background-lighter;
    border: solid 2px $color-main-light;
    color: $color-main-light;
    cursor: pointer;
  }
}
