<app-modal *ngIf="showModal" [ngSwitch]="modalState" class="modal-container">
  <!-- Username modal -->
  <ng-container *ngSwitchCase="'user'">
    <h1>Welcome to button game!</h1>
    <h2>Please give us your name</h2>
    <input class="username-input" type="text" placeholder="Your name" (input)="onUsernameChange($event.target.value)"/>
    <button (click)="showModal = false" [disabled]="username.length === 0">Start playing</button>
  </ng-container>
  
  <!-- Win modal -->
  <ng-container *ngSwitchCase="'win'">
    <h1>CONGRATULATIONS!</h1>
    <i class="fa fa-trophy prize-icon"></i>
    <h2>You won a {{winData.prize}} from {{winData.score}}th click!</h2>
    <button (click)="showModal = false">Keep playing</button>
  </ng-container>

  <!-- Winners -->
  <app-winners *ngSwitchCase="'winners'"></app-winners>

  <!-- Loading -->
  <ng-container *ngSwitchCase="'loading'">
    <i class="fa fa-gear fa-spin loading-icon"></i>
  </ng-container>
</app-modal>

<div class="app-container">
  <h1>BUTTON GAME</h1>
  <h2>{{ clicks ? 'Needed clicks for a prize: ' + clicks : 'Start playing by clicking the button!'}}</h2>
  <button (click)="onClick()">CLICK ME!</button>
</div>
