:host {
  display: block;
  height: 100%;

  .modal-container {
    button {
      display: block;
      margin: 20px auto;
    }

    .username-input {
      padding: 10px;
      border-radius: 5px;
    }

    .prize-icon {
      font-size: 3em;
    }
  }

  .app-container {
    button {
      display: block;
      margin: auto;

      &.click-button {
        font-size: 2em;
        padding: 60px;
      }
    }
  }
}